.calculator {
    width: 65%;
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    height: 100%;
}
.calculator .screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
}
.calculator .mem_keys {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: .2rem;
    margin: 3px 0;
    padding: .5rem 0;
}
.mem_keys button{
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    height: 100%;
    background-color: inherit;
    color: #333;
}
.cal_modes button:hover {
    background-color: #dddddd8a;
}
.calculator .buttons {
    width: 100%;
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: repeat(4, 1fr);
}
.buttons button {
    background-color: #fff;
    color: #333;
    font-size: 0.9em;
    padding: 1.5rem;
    border: none;
    border-radius: 3px;
    text-align: center;
    font-weight: 500;
    box-shadow: inset 0px 0px 2px #3333334f;
}
.calculator .buttons > :nth-child(n + 1):nth-child(-n + 8) {
    background-color: #FBFCFA;
}
.calculator .buttons > :nth-child(4n + 4) {
    background-color: #FBFCFA;
}
.calculator .buttons > :last-child {
    background-color: #0E4C92;
    color: #fff;
}
.buttons button:hover {
    background-color: #FBFBF9;
}
.cal_modes button {
    border: none;
    background-color: inherit;
    border-radius: 2px;
}