body{
    margin: 0 auto;
    padding: 0;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #dddddd39;
}
* {
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: start;
}
.calculator .cal_modes .history {
    display: none;
}
.calculator .main_screen {
    font-size: 50px;
    text-align: right; 
    padding-right: .2rem;
    font-weight: 600;
}
.calculator .small_screen {
    text-align: right;
    color: rgb(111, 111, 111);
    font-size: small;
    padding-right: .5rem;
    font-weight: 400;
}
.stack > div {
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    width: 100%;
    padding-left: 1rem;
    padding-top: 1rem;
}
.stack {
    width: 30%;
}
.stack > div h4 {
    font-size: 14px;
    font-weight: 200;
    padding: 0;
    margin: 0;
}
.calculator .cal_modes{
    display: flex;
    height: 5%;
    align-items: center;
    column-gap: 10px;
    position: relative;
}
.cal_modes > h3 {
    font-weight: 600;
    font-size: 18px;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .container .calculator {
        width: 100%;
    }
    .container .calculator .mem_keys {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
        padding: 0px 0px;
    }
    .container .stack {
        display: none;
    }
    .calculator .mem_keys button{
        padding: .7rem;
    }
    .calculator .cal_modes {
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .calculator .cal_modes .history {
        display: block;
        position: absolute;
        right: 2px;
        text-align: center;
    }
}